<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School Management System</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="container">

        <img src="../static/imgs/school.png" alt="">
        <h3>School Management System</h3>

        <div>
            <a href="/admin"><button id="adminBtn">Login As Admin</button></a>
            <a href="/userlogin"><button id="adminBtn">Login As User</button></a>
        </div>


    </div>

</body>

</html>