<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User Info</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="container">

        <p>User Name = {{ user.name }}</p>
        <p>User Password = {{user.password}}</p>

        <a href="/addStaff"><button id="adminBtn">Add More Staff</button></a>

    </div>
    

</body>

</html>